.centered {
    height: 92vh;
    top: auto!important;
    bottom: auto!important;
}

@media screen and (max-height: 1000px) {
    .centered {
        height: 90vh;
        top: auto;
        bottom: auto;
    }
}
